* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
  --dark: #070e0e;
  --med: #0F3D3E;
  --light: #E2DCC8;
  /* --light: #e6e6e6; */
  --lightbg: #F1F1F1;
  /* --lightbg: #b0b0b0; */
  --medcar:#223647;

}

body {
    background: var(--dark);
    display: flex;
    flex-direction: column;
    line-height: 1.3;
}

/*---------------------------Header & Nav------------------------------------*/
header.nav {
    position:sticky;
    top:0;
    width:100%;
    border-bottom:2px solid white;
    display: flex;
    justify-content: right;
    align-items: center;
    background: var(--med);
    color: var(--light);
    font-family:'Prompt', Helvetica, sans-serif;
    list-style: none;
    overflow: hidden;
    order:-20;
    z-index:100;

}

header h1 {
    font-size: 50px;
    text-shadow: 5px 0 0 #000000, 0 -1px 0 black, 5px 5px 0 black, -1px 0 0 black;
}

nav ul {
    display: flex;
    justify-content: space-between;
    font-size:20px;
    min-width: 350px;
    line-height: 45px;
    margin-right:15px;
    margin-left:15px;
    text-shadow: 2px 0 0 #000000, 0 -1px 0 black, 3px 3px 0 black, -1px 0 0 black;

}

nav a {
    display:flex;
    padding:10px;
    height:65px;
    color: var(--light);
    font-weight: bold;
    text-decoration: none;
    

}

a:hover {
    background-color:#e1e1e1;
    color:#17333E ;
    text-shadow: 5px 0 0 var(--light), 0 -1px 0 var(--light), 5px 5px 0 var(--light), -1px 0 0 var(--light);
    cursor:pointer;

}


/*---------------------------Home------------------------------------*/


main {
    height: 100vh;
    /* margin-left:15%; */
    padding-top:65px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--dark);
    font-family:'Prompt', Helvetica, sans-serif;
    list-style: none;
}


/*---------------------------Home Article------------------------------------*/

.home-article {
    justify-content: center;
    align-items: center;
}

main article h2 {
    font-size: 6vw;
    /* text-shadow: 7px 0 0 var(--med), 8px 0 0 var(--light), -1px -1px 0 black, -1px 0 0 black; */
    color:var(--light);
}

main article h3 {
    margin-left:30px;
    margin-right:30px;
    color: var(--light);

    font-size: 3vw;
    /* text-shadow: 3px 0 0 var(--light), 4px 0 0 var(--med), 3px 1px 0 var(--light), -1px 0 0 black; */
}

/*---------------------------Home Img------------------------------------*/

.home-img {
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.home-img img {
    width:30vw;
    border-radius:50%
}

.card {
    border-style: solid;
    padding:50px;
    border-width: 6px;
    padding: 10px;
    margin: 20px;
    flex: 0 0 100px;
    border-radius: 50%;
    color: var(--light);
  }

.card:hover {
    transition: all 1s ease-in-out;
    box-shadow: inset 0px 0px 20px var(--light), 0 0 40px var(--light);
}

.card:not(:hover) {
    transition: all 1s ease-out;
}

/*---------------------------Showcase------------------------------------*/
.showcase {
    background-color: var(--light);
    height: calc(100vh - 65px);    
    width:100vw;
    overflow:hidden;
    height:60vw;
}

#showcase-header {
    height:65px;
}

header.scheader {
    margin: 1vw auto .25vw;
    padding:.2vw;
    text-align: center;
    color:var(--med);
    font-family:'Prompt', Helvetica, sans-serif;
    font-size:2vw;
    width:20vw;
}



.carousel {
    display: grid;
    flex-direction:row;
    margin: 0;
    grid-template-rows: 44vw 100px;
    grid-template-columns: 1fr 30px 30px 30px 30px 30px 1fr;
    align-items: center;
    justify-items: center;
    /* height:20vw; */
}

#carousel {
    grid-row: 1 / 2;
    grid-column: 1 / 8;
    width: 100vw;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    perspective: 600px;
    --items: 5;
    --middle: 3;
    --position: 1;
    pointer-events: none;
}


#carousel p {
    font-size: 3vw;
    font-weight: bolder;
    text-shadow: 2px 0 0 var(--dark), 0 -1px 0 var(--dark), 2px 2px 0 var(--dark), 3px 0 0 var(--dark);
    color:var(--light);

}



.item {
    border:1px solid var(--lightbg);
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5%;
    position: absolute;
    width: 65vw;
    height: 36.5vw;
    --r: calc(var(--position) - var(--offset));
    --abs: max(calc(var(--r) * -1), var(--r));
    transition: all .5s ease;
    transform: rotateY(calc(-5deg * var(--r)))
    translateX(calc(-300px * var(--r)));
    z-index: calc((var(--position) - var(--abs)));
    padding:10px;
}

#carousel img {
    display:inline-block;
    height: 30vw;
    width: 60vw;
    border: 4px solid var(--light);
}

#carousel:hover,
.item:hover {
    box-shadow: inset 0px 0px 8px var(--light), 0 0 15px var(--light);
}

.item  a {
    height:100%;
}


.item:nth-of-type(1) {
    --offset: 1;
    background-color: var(--med);
}
.item:nth-of-type(2) {
    --offset: 2;
    background-color: var(--lightbg);
}
.item:nth-of-type(3) {
    --offset: 3;
    background-color: var(--med);
}
.item:nth-of-type(4) {
    --offset: 4;
    background-color: var(--lightbg);
}
.item:nth-of-type(5) {
    --offset: 5;
    background-color: var(--med);
}
  
input:nth-of-type(1) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}
input:nth-of-type(1):checked ~ #carousel {
    --position: 1;
}
  
input:nth-of-type(2) {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}
input:nth-of-type(2):checked ~ #carousel {
    --position: 2;
}
  
input:nth-of-type(3) {
    grid-column: 4 /5;
    grid-row: 2 / 3;
}
input:nth-of-type(3):checked ~ #carousel {
    --position: 3;
}
  
input:nth-of-type(4) {
    grid-column: 5 / 6;
    grid-row: 2 / 3;
}
input:nth-of-type(4):checked ~ #carousel {
    --position: 4;s
}
  
input:nth-of-type(5) {
    grid-column: 6 / 7;
    grid-row: 2 / 3;
}
input:nth-of-type(5):checked ~ #carousel {
    --position: 5;
}
  





/*---------------------------About------------------------------------*/
.about {
    background-color: var(--dark);
    height: calc(100vh - 65px);    
    width:100vw;
    overflow:hidden;
    height:60vw;
}

#about-header {
    height:65px;
}

header.abheader {
    margin: 1vw auto .25vw;
    padding:.2vw;
    text-align: center;
    color:var(--light);
    font-family:'Prompt', Helvetica, sans-serif;
    font-size:2vw;
    width:20vw;
}



/*---------------------------Contact------------------------------------*/
.contact {
    background-color: var(--light);
    height: calc(100vh - 65px);    
    width:100vw;
    overflow:hidden;
    height:60vw;
}

#contact-header {
    height:65px;
}

header.ctheader {
    margin: 1vw auto .25vw;
    padding:.2vw;
    text-align: center;
    color:var(--med);
    font-family:'Prompt', Helvetica, sans-serif;
    font-size:2vw;
    width:20vw;
}

.ctcards {
    display:flex;
    justify-content: space-evenly;

}

#contact-card {
    display: relative;
    justify-content: center;
    height:33vw;
    width:33vw;
    border: 30px solid white;
    color:var(--med);
}


#contact-card h3 {
    font-family:'Prompt', Helvetica, sans-serif;
    font-size:2vw;
    width:20vw;
}

#contact-card h3:before{
    content: "Hello";
}

#contact-card li {
    color:var(--med);
    font-family:'Prompt', Helvetica, sans-serif;
    font-size:1.5vw;
    text-align: left;
    padding: 1vw;
}

#input-card {
    display:relative;
    height:33vw;
    width:33vw;
    border: 30px solid white;
    padding:1vw;
}












/*---------------------------Media Query / Flexbox------------------------------------*/

@media screen and (max-width: 768px) {
    header, main {
      flex-direction: column;
      justify-content: flex-start;
      align-items: bottom;
    }


    .home-img img {
        width:70vw;
    }



    main article h2, main article h3 {
        text-align:center;
        justify-content: flex-start;
    }

    .home-article h2 {
        font-size:8vw;
    }

    .home-article h3 {
        font-size:4vw;
    }

    header h1 {
        display:none;
    }
  }